{% extends 'salon_shop/base.html' %}
{% load static %}
{% block content %}
<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
						<li class="breadcrumb-item active" aria-current="page">Заказ</li>
					</ol>
				</div>
			</nav>
		<div class="container mb-5">
				<div class="row">
					<div class="col-lg-8">
    					<h1>Спасибо за заказ</h1>
    					<p>Вш заказ успешно оформлен. Номер вашего заказа <strong>{{ order.id }}</strong>.</p>
					</div>
				</div>
		</div>
</main>

{% endblock %}