{% extends 'salon_shop/base.html' %}
{% load static %}
{% block content %}
<main class="main">
	<nav aria-label="breadcrumb" class="breadcrumb-nav">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">Избранные товары</li>
			</ol>
		</div>
	</nav>
	<div class="container pb-4">
		<div class="row">
			{% include "favorite_list.html "%}
		</div>
	</div>
</main>
{% endblock %}