{% extends 'salon_shop/base.html' %}
{% load static %}
{% block content %}
<main class="main">
			<div class="container mt-2 pt-0">
				<div class="outer-container page-header page-header-bg text-left" style="background: 70%/cover #D4E1EA url('{% static 'salon_shop/images/page-header-bg.jpg' %}');">
					<div class="container pl-5">
						<h1><span>О нас</span>
							НАША КОМПАНИЯ</h1>

					</div><!-- End .container -->
				</div><!-- End .page-header -->
			</div><!-- End .container -->

			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index"><i class="icon-home"></i></a></li>
						<li class="breadcrumb-item active" aria-current="page">О магазине</li>
					</ol>
				</div><!-- End .container -->
			</nav>
	<div class="conteiner-info">
		<div class="container pt-0">
				<div class="about-section">
					<h2 class="subtitle"> Наша история </h2>
					<p>Интернет-магазин "САЛОН КРАСОТЫ" создан для того, чтобы удовлетворять потребности российских девушек (и мужчин) в желании быть красивыми и использовать профессиональную косметику для ухода за своими волосами. Наши цели и принципы можно сформулировать несколькими тезисами:</p>
					<p><a>Профессионализм</a> Наш магазин продаёт именно профессиональную косметику, которая обычно используется в хороших салонах красоты. Теперь вы можете позволить себе применять её и у себя дома!</p>
					<p><a>Надёжность</a> Мы не склонны к сотрудничеству с сомнительными поставщиками косметической продукции. В оригинальности и качестве нашей продукции можно не сомневаться благодаря тому, что мы продаём только те марки косметики, которые зарекомендовали себя с наилучшей стороны среди профессионалов, и, в отличие неофициальных или даже нелегальных перекупщиков, мы работаем от имени юридического лица и напрямую с крупными и надёжными поставщиками из России, Великобритании, Испании, США.</p>
					<p><a>Эксклюзивность</a>. Помимо того, что всю без исключения нашу продукцию сейчас сложно найти в магазинах, а в салонах красоты она продаётся по заоблачным ценам, некоторые позиции нашего ассортимента можно на данный момент в России купить только у нас! Мы стараемся не только следить за текущими тенденциями спроса, но и знакомить жительниц России с новыми для нашей страны товарами, которые в ближайшем будущем могут получить широкое распространение.</p>
					<p><a>Отличные цены</a> Наша продукция стоит гораздо дешевле, чем у других. В отличие от салонов красоты и реальных магазинов, мы освобождены от необходимости платить за аренду торговых площадей. Кроме того, как уже упоминалось выше, мы работаем без лишних посредников и поставляем в основном продукцию, пользующуюся наибольшим спросом. Это позволяет экономить на содержании большого склада и держать наши цены на самом низком уровне - чаще всего ниже, чем у всех конкурентов. Дальнейшее снижение цены уже вряд ли возможно без появления сомнений в надёжности продавца.</p>
					<p class="lead">Таким образом, покупая продукцию у нас, вы можете быть уверены, что покупаете лучшие средства для ухода за телом, от самых надёжных поставщиков, и по самым низким ценам! </p>


				</div><!-- End .about-section -->
			</div><!-- End .container -->
	</div>
</main>
{% endblock content %}