{% extends 'salon_shop/base.html' %}
{% load static %}
{% load contact_tags %}
{% block content %}
<main class="main">
	<div class="container">
		<nav aria-label="breadcrumb" class="breadcrumb-nav">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/index"><i class="icon-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">Новости</li>
			</ol>
		</nav>
		{% for item in news %}
		<div class="post-body">
			<h2 class="post-title">
				<font color="#e9846b">{{item.title}}</font>
			</h2>
			<div class="post-content">
				<div class="row">
					<div class="col-sm-4">
						<div class="media">
							<img class="align-self-center mr-3" src="{{item.photo.url}}" width="230" height="230">
						</div>
					</div>
					<div class="col-sm-7">
						<p><h3 align="justify">{{ item.description }}</h3></p>
					</div>
				</div>
			</div><!-- End .post-content -->
			<div class="post-meta">
				<span><i class="icon-calendar"></i>{{item.created_at}}</span>
			</div><!-- End .post-meta -->
		</div>
		{% endfor %}
		<div class="newsletter-banner appear-animate">
			<div class="d-flex flex-wrap">
				{% contact_form %}
			</div>
		</div>
	</div>
</main>
{% endblock content %}