{% extends 'salon_shop/base.html' %}
{% load static %}
{% block content %}
<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index/"><i class="icon-home"></i></a></li>
						<li class="breadcrumb-item active" aria-current="page">Registration</li>
					</ol>
				</div>
			</nav>

			<div class="container mb-5">
				<div class="row">


					<div class="col-md-12">
						<div class="heading">
							<h2 class="title">Создать личный кабинет</h2>

						</div><!-- End .heading -->

						<form action="#">
							<input type="text" class="form-control" placeholder="First Name" required="">
							<input type="text" class="form-control" placeholder="Middle Name" required="">
							<input type="text" class="form-control" placeholder="Last Name" required="">

							<h2 class="title mb-2">Login information</h2>
							<input type="email" class="form-control" placeholder="Email Address" required="">
							<input type="password" class="form-control" placeholder="Password" required="">
							<input type="password" class="form-control" placeholder="Confirm Password" required="">

							<div class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" id="newsletter-signup">
								<label class="custom-control-label" for="newsletter-signup">Sing up our Newsletter</label>
							</div><!-- End .custom-checkbox -->

							<div class="form-footer">
								<button type="submit" class="btn btn-primary">Зарегестрироваться</button>
							</div><!-- End .form-footer -->
						</form>
					</div><!-- End .col-md-6 -->
				</div><!-- End .row -->
			</div><!-- End .container -->
		</main>
{% endblock content%}