{% extends 'salon_shop/base.html' %}
{% load static %}
{% block content %}
<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index/"><i class="icon-home"></i></a></li>
						<li class="breadcrumb-item active" aria-current="page">Авторизация</li>
					</ol>
				</div>
			</nav>

			<div class="container mb-5">
				<div class="row">


					<div class="col-md-12">
						<div class="heading">
							<p >Чтобы войти в личный кабинет,введите логин и пароль</p>
						</div><!-- End .heading -->

						{% if error %}
                            <div style="color:red;">{{ error }}</div>
                        {% endif %}
                        <form method="post">
                        {% csrf_token %}
                            <input type="text" class="form-control" name='username' placeholder="Логин">
                            <input type="password" class="form-control" name="password" placeholder="Пароль">


							<div class="form-footer">
								<input type="submit" class="btn btn-primary">

							</div><!-- End .form-footer -->
						</form>
					</div>
				</div><!-- End .row -->
			</div><!-- End .container -->
		</main>
{% endblock content%}