{% extends 'salon_shop/base.html' %}
{% load static %}
{% block content %}
<main class="main">
			<nav aria-label="breadcrumb" class="breadcrumb-nav">
				<div class="container">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html"><i class="icon-home"></i></a></li>
						<li class="breadcrumb-item active" aria-current="page">Оформление</li>
					</ol>
				</div>
			</nav>
		{% if user.is_authenticated %}
			<div class="container mb-6">

				<div class="row">
					<div class="col-lg-8">
						<ul class="checkout-steps">

							<li>
								<h2 class="step-title">Данные о доставке</h2>


								<form action="." method="post" class="order-form">
                                    {{ form.as_p }}
                                    <p><input type="submit" class="btn btn-primary float-right" value="Оформить"></p>
                                    {% csrf_token %}
                                </form>
							</li>


						</ul>
					</div><!-- End .col-lg-8 -->

					<div class="col-lg-4">
						<div class="order-summary">
							<h3>Итого</h3>
							<a data-toggle="collapse" href="#order-cart-section" class=""
							   role="button" aria-expanded="true" aria-controls="order-cart-section">
								{{ cart.get_total_price }} рублей
							</a>
                            <ul>
                                {% for item in cart %}

							        <div class="collapse show" id="order-cart-section" style="">
								        <table class="table table-mini-cart">
									        <tbody>
										        <tr>
											        <td class="product-col">
												        <figure class="product-image-container">
													        <a href="{% url 'salon_shop:product_detail' item.product.slug %}" class="product-image">
														        <img src="{{item.product.image.url}}" alt="product">
													        </a>
												        </figure>
												        <div>
													        <h2 class="product-title">
														        <a href="{% url 'salon_shop:product_detail' item.product.slug%}">{{item.product.name}}</a>
													        </h2>

													        <span class="product-qty">Кол-во:{{item.quantity}}</span>
												        </div>
											        </td>
											        <td class="price-col">{{item.total.price}}</td>
										        </tr>
                                            </tbody>
                                        </table>
                                    </div>
								{% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
			</div>
	{% else%}
		<div class="logo">
			<a href="{% url 'user:login' %} ">Войти в личный кабинет</a>
		</div>
	<div class="regist">
		<a href="{% url 'user:register' %}" >Регистрация</a>
	</div>
	{% endif %}
</main>
{% endblock %}