{% extends 'salon_shop/base.html' %}
{% load static %}
{% block content %}
<main class="main">
	<nav aria-label="breadcrumb" class="breadcrumb-nav">
		<div class="container">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index/"><i class="icon-home"></i></a></li>
				<li class="breadcrumb-item active" aria-current="page">Авторизация</li>
			</ol>
		</div>
	</nav>

	<div class="container mb-4">
		<div class="row" >
			<h3>
				<p>Вы успешно вышли из системы.</p>
				<p>Вы можете снова <a href="{% url 'user:login' %}">войти в систему</a>.</p>
			</h3>
		</div>
	</div>
</main>
{% endblock %}